[submodule "registereditems/unstable/sosa"]
	path = registereditems/unstable/sosa
	url = https://github.com/opengeospatial/ogcapi-sosa.git
	branch = master
[submodule "registereditems/incubator"]
	path = registereditems/incubator
	url = https://github.com/ogcincubator/bblocks-incubator.git
	branch = master
