.main-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}

.navbar.navbar-default {
    background-color: #3193d4;
    color: white;
  }
  


.filter-text {
    padding: 5px;
    color: #586069 !important;
    font-size: 14px !important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.project {
    min-height: 100px;
    border-radius: 6px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.project-block {
    border: 1px solid #e1e4e8;
    padding: 16px;
    margin: 10px;
    flex-grow: 1;
}

.project-hidden {
    display: none;
}

.project-title {
    font-weight: 600 !important;
    color: #0366d6;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
}

.project-title-flex-container {
    display: flex;
    flex-direction: row;
}

.project-icon {
    margin-right: 10px;
}

.project-title:hover,
.proj-small-link:hover {
    color: #0366d6;
    text-decoration: underline;
}

.proj-small-link-parent {
    margin-top: 4px;
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
}

.proj-small-link {
    color: #0366d6;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    margin: 0px 5px 0px 5px;
}

.project-text {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    word-wrap: break-word;
    line-height: 1.5;
    color: #586069 !important;
    font-size: 14px !important;
    margin: 5px 0px 10px 0px;
}

.label-container {
    margin: 3px 0px 3px 0px;
    display: flex;
    flex-wrap: wrap;
}

.project-label,
.project-label-alt {
    border-radius: 50px;
    padding: 3px 7px 3px 7px;
    margin: 3px 2px 3px 2px;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.project-label.down {
    background-color: #dedede !important;
    color: #525252 !important;
}

.proj-label-black {
    background-color: #000;
    color: white !important;
}

.proj-label-black:hover {
    background-color: #525252;
}