name: Process Building Blocks

on:
  push:
    branches: [master]
  pull_request:
    types: closed
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: OGC BB postprocess
        uses: avillar/bblocks-postprocess/full@v1
        with:
          items_dir: registereditems
          register_file: register.json
          generated_docs_path: generateddocs
          annotated_path: annotated-schemas
          fail_on_error: 'false'
          clean: 'true'
      - name: Add & Commit
        if: ${{ !endsWith(github.repository, '/bblock-template') }}
        uses: EndBug/add-and-commit@v9
        with:
          message: Building blocks postprocessing

  deploy-gh-pages:
    needs: build
    uses: ./.github/workflows/deploy-gh-pages.yml
