name: Process Building Blocks

on:
  push:
    branches: [master]
  workflow_dispatch:
  schedule:
    - cron: 0 4 * * 0
    
permissions:
  contents: write
  pages: write
  id-token: write
  
jobs:
  validate-and-process:
    uses: opengeospatial/bblocks-postprocess/.github/workflows/validate-and-process.yml@master
    with:
      items_dir: registereditems
      register_file: register.json
      generated_docs_path: generateddocs
      annotated_path: annotated-schemas
      fail_on_error: 'false'
      clean: 'true'
      test_outputs_path: tests
      viewer_path: ./register/
      base_url: https://blocks.ogc.org/
    secrets:
      sparql_username: ${{ secrets.UPLOAD_GRAPH_STORE_USERNAME }}
      sparql_password: ${{ secrets.UPLOAD_GRAPH_STORE_PASSWORD }}
